/*  kad nes npr ne radi, inspektaj, vidi kaj je highlightano, do kuda ide, jel siroko 100% ili ide samo do odredene sirine, 
    mijenjaj css direkt u browseru da ubrzas proces i vidis kaj mozes kaj ne mozes delat
*/
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

/* NAVIGATION */

.main-nav {
    position: fixed;
    width: 100%;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav li {
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em; /* ovak ti se pise skraceno --> nula je za top i bottom, 0.5em je desno i lijevo (gledas u smjeru kazaljke na satu) */
    text-transform: uppercase;
}

.nav a:hover {
    color: #ff8989;
    transition: color 0.3s ease-in;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgba(165, 155, 155, 0.8);
    background-image: url("Images/header1.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
}

.band-name {
    font-size: 4em;
    color: #d8d4d5;
    font-weight: normal;
    margin-top: 110px;
}

/* tu imas 7 em, gore imas 4 em, a za istu stvar, ostavi ili jedno ili drugo
.band-name-large {
  font-size: 7em; 
} 
*/

/* SECTION */
.content-section {
    margin: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
}

.about-band-image {
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
}

/* FOOTER */

.social-footer {
    display: flex;
    padding: 1rem;
    background-image: url("Images/header1.jpeg");
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
}

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;

}

.social-footer-icons li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}

.social-footer .social-footer-icons .fa {
    font-size: 2rem;
    color: #fefefe;
}

.social-footer .social-footer-icons .fa-facebook:hover {
    color: #3b5998;
    transition: color 0.3s ease-in;
}

.social-footer .social-footer-icons .fa-instagram:hover {
    color: #f833ff;
    transition: color 0.3s ease-in;
}

.social-footer .social-footer-icons .fa-youtube:hover {
    color: #FF0000;
    transition: color 0.3s ease-in;
}

.social-footer .social-footer-icons .fa-twitter:hover {
    color: #1DA1F2;
    transition: color 0.3s ease-in;
}

.footer-nav p {
    display: flex;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 190px;
}